name: Go Vulnerability Check
on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at 12:00 AM (UTC)
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master

jobs:
  govulncheck:
    name: Run govulncheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: golang/govulncheck-action@v1
